mixin button(text, className, href, icon, iconW, iconH)
	if href
		a.button(class=className, href=href)&attributes(attributes)
			span!= text
			if icon
				+icon(icon)(width=iconW, height=iconH)
	else
		button.button(class=className)&attributes(attributes)
			span!= text
			if icon
				+icon(icon)(width=iconW, height=iconH)
